.sections {
    padding-bottom: 65px;

    h2 {
        padding: 50px 0 20px 20px;
        margin: 0;
    }
}

.restaurants {
    background-color: #F4F4F4;
}

.restaurant-cards {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* RESPONSIVE */

@media (min-width: 630px) {

    .restaurants {
        .restaurant-cards {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .restaurant-card {
            width: 48%;
        }
    }
}

@media (min-width: 1200px) {

    .restaurants {
        .restaurant-cards {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .restaurant-card {
            width: 23%;
        }
    }
}