.apparition {
    animation: opacity 1s both;
}

#case-1 {
    animation-delay: 0.1s;
}

#case-2 {
    animation-delay: 0.2s;
}

#case-3 {
    animation-delay: 0.3s;
}

#case-4 {
    animation-delay: 0.4s;
}

#case-5 {
    animation-delay: 0.5s;
}

#case-6 {
    animation-delay: 0.6s;
}

#case-7 {
    animation-delay: 0.7s;
}

#case-8 {
    animation-delay: 0.8s;
}

#case-9 {
    animation-delay: 0.9s;
}

#case-10 {
    animation-delay: 1s;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}